<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ckstack.ckpush.dao.app.AppDao">
    <sql id="AppColumn">
        app_id,
        app_name,
        api_key,
        app_version,
        api_secret,
        enabled,
        reg_terminal,
        reg_push_terminal,
        push_count,
        c_date,
        u_date
    </sql>

    <insert id="add" parameterType="AppEntity" keyProperty="app_srl" keyColumn="app_srl" useGeneratedKeys="true">
        INSERT INTO tbl_app (
            <include refid="AppColumn" />
        ) VALUES (
            #{app_id},
            #{app_name},
            #{api_key},
            #{app_version},
            #{api_secret},
            #{enabled},
            #{reg_terminal},
            #{reg_push_terminal},
            #{push_count},
            #{c_date},
            #{u_date}
        )
    </insert>

    <select id="count" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(1) as cnt
        FROM tbl_app
        <where>
            <if test="app_id != null">
                app_id = #{app_id}
            </if>
            <if test="app_name != null">
                AND app_name LIKE CONCAT('', #{app_name}, '%')
            </if>
            <if test="api_key != null">
                AND api_key = #{api_key}
            </if>
            <if test="app_version != null">
                AND app_version = #{app_version}
            </if>
            <if test="enabled > 0">
                AND enabled = #{enabled}
            </if>
            <if test="max_app_srl > 0">
                AND app_srl &lt; #{max_app_srl}
            </if>
        </where>
        ORDER BY app_srl DESC
    </select>

    <select id="get" parameterType="java.util.Map" resultMap="com.ckpush.result.AppEntity">
        SELECT
            app_srl,
            <include refid="AppColumn" />
        FROM tbl_app
        <where>
            <if test="_parameter.containsKey('app_id') and app_id != null">
                app_id = #{app_id}
            </if>
            <if test="_parameter.containsKey('app_srl') and app_srl > 0">
                AND app_srl = #{app_srl}
            </if>
            <if test="_parameter.containsKey('app_srls') and app_srls != null and _parameter.get('app_srls').size > 0">
                AND app_srl IN
                <foreach item="item" index="index" collection="app_srls" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="_parameter.containsKey('app_name') and app_name != null">
                AND app_name LIKE CONCAT('', #{app_name}, '%')
            </if>
            <if test="api_key != null">
                AND api_key = #{api_key}
            </if>
            <if test="_parameter.containsKey('app_version') and app_version != null">
                AND app_version = #{app_version}
            </if>
            <if test="_parameter.containsKey('enabled') and enabled > 0">
                AND enabled = #{enabled}
            </if>
            <if test="_parameter.containsKey('max_app_srl') and max_app_srl > 0">
                AND app_srl &lt; #{max_app_srl}
            </if>
        </where>
        <choose>
            <when test="_parameter.containsKey('sort') and sort != null and _parameter.get('sort').size > 0">
                <foreach item="item" index="key" collection="sort" open="ORDER BY" separator=",">
                    ${key} ${item}
                </foreach>
            </when>
            <otherwise>
                ORDER BY app_srl DESC
            </otherwise>
        </choose>
        <if test="_parameter.containsKey('offset') and _parameter.containsKey('limit') and offset >= 0 and limit >= 0">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <update id="modify" parameterType="java.util.Map">
        <if test="target_app_srl > 0 or target_api_key != null">
            UPDATE tbl_app
            <set>
                <if test="appEntity.app_name != null">app_name = #{appEntity.app_name},</if>
                <if test="appEntity.api_key != null">api_key = #{appEntity.api_key},</if>
                <if test="appEntity.app_version != null">app_version = #{appEntity.app_version},</if>
                <if test="appEntity.api_secret != null">api_secret = #{appEntity.api_secret},</if>
                <if test="appEntity.enabled > 0">enabled = #{appEntity.enabled},</if>
                <if test="appEntity.reg_terminal > 0">reg_terminal = #{appEntity.reg_terminal},</if>
                <if test="appEntity.reg_push_terminal > 0">reg_push_terminal = #{appEntity.reg_push_terminal},</if>
                <if test="appEntity.c_date > 0">c_date = #{appEntity.c_date},</if>
                <if test="appEntity.u_date > 0">u_date = #{appEntity.u_date}</if>
            </set>
            <where>
                <if test="target_app_srl > 0">
                    app_srl = #{target_app_srl}
                </if>
                <if test="target_api_key != null">
                    AND api_key = #{target_api_key}
                </if>
            </where>
        </if>
    </update>

    <update id="increase" parameterType="java.util.Map">
        <if test="target_app_srl > 0 or target_api_key != null">
            UPDATE tbl_app
            <set>
                <if test="increase_reg_terminal == true">reg_terminal = reg_terminal + 1,</if>
                <if test="increase_reg_push_terminal == true">reg_push_terminal = reg_push_terminal + 1,</if>
                <if test="increase_push_count == true">push_count = push_count + 1,</if>
                u_date = UNIX_TIMESTAMP()
            </set>
            <where>
                <if test="target_app_srl > 0">
                    app_srl = #{target_app_srl}
                </if>
                <if test="target_api_key != null">
                    AND api_key = #{target_api_key}
                </if>
            </where>
        </if>
    </update>

    <update id="decrease" parameterType="java.util.Map">
        <if test="target_app_srl > 0 or target_api_key != null">
            UPDATE tbl_app
            <set>
                <if test="decrease_reg_terminal == true">reg_terminal = IF(reg_terminal > 0, reg_terminal - 1, 0),</if>
                <if test="decrease_reg_push_terminal == true">reg_push_terminal = IF(reg_push_terminal > 0, reg_push_terminal - 1, 0),</if>
                u_date = UNIX_TIMESTAMP()
            </set>
            <where>
                <if test="target_app_srl > 0">
                    app_srl = #{target_app_srl}
                </if>
                <if test="target_api_key != null">
                    AND api_key = #{target_api_key}
                </if>
            </where>
        </if>
    </update>

    <delete id="delete" parameterType="java.util.Map">
        <if test="(_parameter.containsKey('app_srl') and app_srl > 0) or (_parameter.containsKey('app_srls') and app_srls != null and _parameter.get('app_srls').size > 0)">
            DELETE FROM tbl_app
            <where>
                <if test="_parameter.containsKey('app_srl') and app_srl > 0">
                    app_srl = #{app_srl}
                </if>
                <if test="_parameter.containsKey('app_srls') and app_srls != null and _parameter.get('app_srls').size > 0">
                    AND app_srl IN
                    <foreach item="item" index="index" collection="app_srls" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
            </where>
        </if>
    </delete>

</mapper>